<mat-nav-list class="menu">
    <a mat-list-item [routerLink]="['/profile']" fragment="intro" (click)="notifyLandedSection('Introduction')">Introduction</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="activ" (click)="notifyLandedSection('Activities')">Activities</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="skills" (click)="notifyLandedSection('Skills')">Skills</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="jobs" (click)="notifyLandedSection('Jobs')">Jobs</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="powers" (click)="notifyLandedSection('Super Powers')">Super Powers</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="acade" (click)="notifyLandedSection('Academics')">Academics</a>
    <a mat-list-item [routerLink]="['/profile']" fragment="travels" (click)="notifyLandedSection('Travels')">Travels</a>
</mat-nav-list>