.menu {
    background-color: rgb(16, 59, 163);
    width: 25vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    a {
        color: whitesmoke;
        border-bottom: whitesmoke solid 1px;
    }
}