<section class="page">
    <div class="top" fxLayout fxLayoutAlign='space-between center'>
        <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
        <span> Edit Current Location & Travel Info </span>
        <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
    </div>
    <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
        <div fxLayout='row wrap' fxLayoutGap='10px'>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Country</div>
                <select fxFlex class="value" [(ngModel)]='data.country'>
                    <option *ngFor="let option of ['Canada','Australia']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Province/State</div>
                <select fxFlex class="value" [(ngModel)]='data.province'>
                    <option *ngFor="let option of ['option1', 'option2', 'option3']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">City</div>
                <input class="value" placeholder="City" [(ngModel)]='data.city'>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Postal/Zip code</div>
                <input class="value" placeholder="123456" [(ngModel)]='data.code'>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Willing To Travel?</div>
                <select class="value" [(ngModel)]='data.willingToTravel'>
                    <option *ngFor="let option of ['Yes', 'No']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Reason</div>
                <textarea class="value" placeholder="Type reason" [(ngModel)]='data.t_reason'></textarea>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Willing To Relocate?</div>
                <select class="value" [(ngModel)]='data.willingToRelocate'>
                    <option *ngFor="let option of ['Yes', 'No']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Reason</div>
                <textarea class="value" placeholder="Type reason" [(ngModel)]='data.r_reason'></textarea>
            </div>
        </div>
    </div>
</section>
