header {
    // For the title and the button
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    p {
        margin-left: 0.2rem;
    }
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

mat-card {
    flex: 0 0 auto;
    margin-right: 1rem;
    padding: 1rem;
}

.mat-card-below-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p, h4 {
        padding: 0;
        margin: 0;
    }
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.row-side-by-side-start {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.row-side-by-side-end {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.empty-card-content {
    background-color: rgb(232, 235, 238);
    padding: 1em;
    border: grey;
    display: flex;
    flex: 1 0 auto;
    height: 80vh;
    flex-direction: column;
    i {
        display: flex;
        justify-content: flex-end;
    }

    p {
        display: flex;
        justify-content: center;
    }
}

.card-image {
    height: 35vh;
    width: 20vw;
    top: 0;
    margin: auto;
}

.profile-thumbnail {
    width: 40px;
    height: 40px;
}

button, input {
    margin: 0.2em;
}