<div appSortableList (sort)="sort($event)" class="menu">
  <div *ngFor="let section of sections; let i = index;" class="menu__section" appSortable>
    <button (click)="section['visible'] = !section['visible']" class="section_button">
      <div class="section_title">
        <mat-icon [class.section_cevron--rotated]="section['visible']"
                  [style.visibility]="section.records.length ? 'visible' : 'hidden'">
          chevron_right
        </mat-icon>
        <mat-icon>{{section.icon}}</mat-icon>
        <span class="section_title-text">
          <a [routerLink]="section.link" *ngIf="section.link">{{section.categoryTitle}}</a>
          <span *ngIf="!section.link">{{section.categoryTitle}}</span>
        </span>
      </div>
      <div [style.visibility]="section.records.length ? 'visible' : 'hidden'" *ngIf="sortable">
        <mat-icon>shuffle</mat-icon>
      </div>
    </button>
    <div *ngIf="section['visible']" appSortableList (sort)="sortNested($event, i)" appMovableArea>
      <div *ngFor="let record of section.records" class="list_item" appSortable>
        <div class="list_item_info">
          <div>
            <img [src]="record.img">
          </div>
          <div>
            <h5 class="items_title">{{record.title}}</h5>
            <span class="items_info">{{record.description}}</span>
          </div>
        </div>
        <mat-icon *ngIf="sortable">shuffle</mat-icon>
      </div>
    </div>
  </div>
</div>
