<section class="page">
    <div class="top" fxLayout fxLayoutAlign='space-between center'>
        <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
        <span> Edit trip details</span>
        <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
    </div>
    <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
        <div fxLayout='row wrap' fxLayoutGap='10px'>
            <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Destination</div>
                <input name="destination" [(ngModel)]='data.destination' class="value" placeholder="Enter a city, province/state, or country....">
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">From</div>
                <div fxLayout fxLayoutGap='10px'>
                    <select fxFlex class="value" [(ngModel)]='data.from.month'>
                        <option *ngFor="let option of ['March','April','May']">{{option}}</option>
                    </select>
                    <select fxFlex class="value" [(ngModel)]='data.from.year'>
                        <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                    </select>
                </div>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">To</div>
                <div fxLayout fxLayoutGap='10px'>
                    <select fxFlex class="value" [(ngModel)]='data.to.month'>
                        <option *ngFor="let option of ['March','April','May']">{{option}}</option>
                    </select>
                    <select fxFlex class="value" [(ngModel)]='data.to.year'>
                        <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                    </select>
                </div>
            </div>
            <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">What inspired you to go?</div>
                <textarea [(ngModel)]='data.description' class="value" placeholder="This is a description"></textarea>
            </div>
        </div>
    </div>
</section>
