<section class="page">
    <div class="top" fxLayout fxLayoutAlign='space-between center'>
        <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
        <span> Edit Professional Skills</span>
        <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
    </div>
    <div class="section">
        <div class="header">
            <button class="btn-add" mat-button (click)='add()'>
                <mat-icon>add</mat-icon>
            </button>
            <span class="count">{{courses.length}} items</span>
        </div>
    </div>

    <div>
        <ul dnd-sortable-container [sortableData]="courses">
            <li *ngFor="let course of courses; let i = index">

                <div class="course" fxLayout fxLayoutAlign='end stretch' fxLayoutGap='5px' dnd-sortable [sortableIndex]="i">
                    <input  fxFlex class="course_title" type="text" [(ngModel)]='course.skill' placeholder="Enter Course Name..">
                    <button mat-button dnd-sortable-handle><mat-icon>open_with</mat-icon></button>
                    <button mat-button (click)="delete(i)"><mat-icon>delete_forever</mat-icon></button>
                </div>

                <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
                    <div class="static">Level of Proficiency - Scal 1 to 10</div>
                    <div>
                        <kendo-slider
                            [showButtons]='false'
                            [min]="0"
                            [max]="10"
                            [smallStep]="1"
                            [tickPlacement]='false'
                            [fixedTickWidth]="50"
                            [(ngModel)]='course.level'>
                        </kendo-slider>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--
 -->
