<section class="container">
  <div>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
      <div>
        <p><strong>{{data.activity}}</strong></p>
        <p *ngIf='data.fromYear && data.toYear'>{{data.fromYear}} - {{data.toYear}}</p>
      </div>
      <button mat-button (click)="edit()"><mat-icon>create</mat-icon></button>
    </div>
    <div class="page-content">
      <p *ngIf='data.description'>{{data.description}}</p>
      <div *ngIf='data.highlights.length'>
        <p><strong>Highlights</strong></p>
        <ol>
          <li *ngFor='let hightlight of data.highlights'>{{hightlight}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
