<body class="introduction_body">
  <div class="header_introduction">
    <button class="header_button button_introduction" (click)="menuShown = !menuShown; editShown = false">Introduction
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <app-menu *ngIf="menuShown" class="header_menu" [sections]="profileSections"></app-menu>
    <button class="header_button header_edit" (click)="editShown = !editShown; menuShown = false">
      <mat-icon>edit</mat-icon>
    </button>
    <app-menu style="width: 320px" *ngIf="editShown" class="header_menu" [sections]="editMenu"></app-menu>
  </div>
</body>
