<section class="container">
  <div>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
      <p><strong>TRAVELLING INFO.</strong></p>
      <button mat-button (click)="edit()"><mat-icon>create</mat-icon></button>
    </div>
    <div class="page-content" *ngIf='data'>
      <div class="sub-title">
        <div *ngIf='data.willingToTravel == "Yes"'>Might be open to travelling</div>
        <div *ngIf='data.willingToTravel == "No"'>Unwilling to travelling</div>
      </div>
      <p>{{data.t_reason}}</p>
      <div class="sub-title">
        <div *ngIf='data.willingToRelocate == "Yes"'>Might be open to relocate</div>
        <div *ngIf='data.willingToRelocate == "No"'>Unwilling to relocate</div>
      </div>
      <p>{{data.r_reason}}</p>
    </div>
  </div>
</section>
