.header{
    min-height: 50px;
    position: relative;
    .btn-add, .count{
        position: absolute;
    }

    .count{
        top : 20px;
        right: 60px;
        font-weight: bold;
    }

    .btn-add{
        top : 10px;
        right: 10px
    }

}

.course{
    border-top: 1px solid #ececec;
    padding-top: 10px;
    .course_title{
        background-color: #ddd;
        border: none;
        padding-left: 5px;
        &:focus{
            outline : none;
        }
    }
    .btn-expand{
        border-radius: 50%;
        cursor: pointer;
        mat-icon{
            transition: 0.5s;
        }
        &.expand mat-icon{
            transform: rotateZ(90deg);
        }
    }
}

.course-content{
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;

    .expansion-area{
        box-shadow: none;
    }
}
