<section class="page">
    <div class="top" fxLayout fxLayoutAlign='space-between center'>
        <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
        <span> Edit School Details</span>
        <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
    </div>
    <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
        <div fxLayout='row wrap' fxLayoutGap='10px'>
            <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">School Name</div>
                <input class="value" placeholder="Memorial University of New foundland" [(ngModel)] ='data.school'>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Country</div>
                <select fxFlex class="value" [(ngModel)] ='data.country'>
                    <option *ngFor="let option of ['Canada','Australia']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Province/State</div>
                <select fxFlex class="value" [(ngModel)] ='data.province'>
                    <option *ngFor="let option of ['option1', 'option2', 'option3']">{{option}}</option>
                </select>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">City</div>
                <input class="value" placeholder="SaintJohn's" [(ngModel)] ='data.city'>
            </div>
            <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Program Field of Study</div>
                <input class="value" placeholder="Geographic Information System" [(ngModel)] ='data.study'>
            </div>
            <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">Type of degree/ Level of Study</div>
                <div fxLayout>
                    <select fxFlex='48' class="value" [(ngModel)] ='data.degree'>
                        <option *ngFor="let option of ['option1', 'option2', 'option3']">{{option}}</option>
                    </select>
                </div>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">From year</div>
                <div fxLayout fxLayoutGap='10px'>
                    <select fxFlex class="value" [(ngModel)] ='data.from.month'>
                        <option *ngFor="let option of ['January','Feburary','March']">{{option}}</option>
                    </select>
                    <select fxFlex class="value" [(ngModel)] ='data.from.year'>
                        <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                    </select>
                </div>
            </div>
            <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                <div class="static">To year/Expected</div>
                <div fxLayout fxLayoutGap='10px'>
                    <select fxFlex class="value" [(ngModel)] ='data.to.month'>
                        <option *ngFor="let option of ['January','Feburary','March']">{{option}}</option>
                    </select>
                    <select fxFlex class="value" [(ngModel)] ='data.to.year'>
                        <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
