<section class="container">
  <div class="one-school" *ngFor='let info of schoolInfo; let i=index'>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
      <div fxLayout fxLayoutGap='20px' fxLayoutAlign='start center'>
        <img *ngIf='info.details' src='assets/company.jpeg'>
        <div *ngIf='info.details'>
          <div *ngIf='info.details.study'>{{info.details.study}}</div>
          <p *ngIf='info.details.degree && info.details.from.month && info.details.from.year && info.details.to.month && info.details.to.year'>
            {{info.details.degree}} . {{info.details.from.year}} - {{info.details.to.year}}
          </p>
          <p *ngIf='info.details.school'>{{info.details.school}}</p>
          <p *ngIf='info.details.city && info.details.province && info.details.country'>
            {{info.details.city}},{{info.details.province}},{{info.details.country}}
          </p>
        </div>
      </div>
      <button mat-button (click)="editSchoolDetails(i)"><mat-icon>create</mat-icon></button>
    </div>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start'>
      <p><strong>HIGHLIGHTS</strong></p>
      <button mat-button (click)="editAcademicHighlights(i)"><mat-icon>create</mat-icon></button>
    </div>
    <ol class="page-content" *ngIf='info.highlights'>
      <li *ngIf='info.highlights.displayGpa'>
        <p>GPA : {{info.highlights.gpa}}</p>
      </li>
      <li *ngFor="let data of info.highlights.descriptions">
        <p>{{data.description}}</p>
      </li>
    </ol>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
      <p><strong>COURSES</strong></p>
      <button mat-button (click)="edit(i)"><mat-icon>create</mat-icon></button>
    </div>
    <div class="page-content" *ngIf='info.courses'>
      <div *ngFor='let data of info.courses; let id=index' class="paragraph">
        <div>
          <button mat-button class="btn-expand"
            [ngClass]='data.expanded ? "expand" : ""'
            (click)='data.expanded = !data.expanded'>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          {{data.title}}
        </div>
        <mat-expansion-panel class="expansion-area" [expanded]="data.expanded" hideToggle="true">
          <div *ngIf='data.applications.length'>
            <div class="sub-title">Career Application</div>
            <div class="tags" fxLayout fxLayoutGap='10px'>
              <div class="tag" *ngFor='let app of data.applications'>{{app}}</div>
            </div>
          </div>
          <div *ngIf='data.description'>
            <div class="sub-title">Knowledge Aquired</div>
            <p>{{data.description}}</p>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <button mat-button class="add-school" (click)='addSchool()'>Add School</button>
</section>
