.one-school{
  padding: 40px 0 20px;
  border-bottom: 1px solid #ececec;
  .page-header{
    img{
      height: 131px
    }
  }

  .btn-expand{
      border-radius: 50%;
      cursor: pointer;
      mat-icon{
          transition: 0.5s;
      }
      &.expand mat-icon{
          transform: rotateZ(90deg);
      }
      margin-right: 20px;
  }

  .expansion-area{
      box-shadow: none !important;
      .sub-title{
        margin-bottom: 15px;
        font-weight: bold;
      }
  }

  .paragraph{
    margin-bottom: 20px;
    >div{
      margin-bottom: 10px;
    }
  }

  .tags {
    margin-bottom: 20px;
    .tag{
      padding: 5px 10px;
      background: #3c4da7;
      color: #fff;
      border-radius: 3rem;
    }
  }
}

.add-school {
  width: 100%;
  margin-top: 10px;
}
