<section class="page">
  <div class="top" fxLayout fxLayoutAlign='space-between center'>
    <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
    <span> Edit Work.Exp Details</span>
    <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
  </div>
  <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
    <div fxLayout='row wrap' fxLayoutGap='10px'>
        <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Compony Name</div>
            <input class="value" placeholder="Autodesk" [(ngModel)] ='data.compony'>
        </div>
        <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Job title</div>
            <input class="value" placeholder="Junior Business Analyst" [(ngModel)] ='data.job'>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Type of Employment</div>
            <select class="value" [(ngModel)] ='data.position'>
                <option *ngFor="let option of ['Temporary Position', 'Random Position']">{{option}}</option>
            </select>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Currently working here?</div>
            <ui-switch labelOn="Yes" labelOff="No" [(ngModel)] ='data.isWorking'></ui-switch>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">From</div>
            <div fxLayout fxLayoutGap='10px'>
                <select fxFlex class="value" [(ngModel)] ='data.from.month'>
                    <option *ngFor="let option of ['January','Feburary','March']">{{option}}</option>
                </select>
                <select fxFlex class="value" [(ngModel)] ='data.from.year'>
                    <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                </select>
            </div>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">To</div>
            <div fxLayout fxLayoutGap='10px'>
                <select fxFlex class="value" [(ngModel)] ='data.to.month'>
                    <option *ngFor="let option of ['January','Feburary','March']">{{option}}</option>
                </select>
                <select fxFlex class="value" [(ngModel)] ='data.to.year'>
                    <option *ngFor="let option of [2000,2001,2003]">{{option}}</option>
                </select>
            </div>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Country</div>
            <select fxFlex class="value" [(ngModel)] ='data.country'>
                <option *ngFor="let option of ['Canada','Australia']">{{option}}</option>
            </select>
        </div>
        <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">Province</div>
            <select fxFlex class="value" [(ngModel)] ='data.province'>
                <option *ngFor="let option of ['option1', 'option2', 'option3']">{{option}}</option>
            </select>
        </div>
        <div fxFill fxLayout='column' fxLayoutAlign="start stretch">
            <div class="static">City</div>
            <input class="value" placeholder="City" [(ngModel)] ='data.city'>
        </div>
    </div>
  </div>
</section>
