<section class="container">
  <div>
    <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
        <div fxLayout fxLayoutGap='20px' fxLayoutAlign='start center'>
          <img *ngIf='data.destination' src='assets/images.png'>
          <div>
            <p *ngIf='data.destination'><strong>{{data.destination}}</strong></p>
            <p *ngIf='data.from.month && data.from.year'>{{data.from.month}}.{{data.from.year}}</p>
          </div>
        </div>
        <button mat-button (click)="edit()"><mat-icon>create</mat-icon></button>
    </div>
    <div class="page-content">
        <p *ngIf='data.description'>{{data.description}}</p>
    </div>
  </div>
</section>
