<section class="page">
    <div class="top" fxLayout fxLayoutAlign='space-between center'>
        <a class="nav_btn" (click)='onClose(false)'><mat-icon>arrow_back</mat-icon></a>
        <span> Edit Interpersonal Skills</span>
        <a class="save_btn" (click)='onClose(true)'><mat-icon>check</mat-icon></a>
    </div>
    <div class="section">
        <div class="header">
            <button class="btn-add" mat-button (click)='add()'>
                <mat-icon>add</mat-icon>
            </button>
            <span class="count">{{courses.length}} items</span>
        </div>
    </div>

    <div>
        <ul dnd-sortable-container [sortableData]="courses">
            <li *ngFor="let course of courses; let id = index">

                <div class="course" fxLayout fxLayoutAlign='end stretch' fxLayoutGap='5px' dnd-sortable [sortableIndex]="id">
                    <button class="btn-expand" [ngClass]='arrow_style(course.expanded)'  mat-button (click)='expand(id)'>
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>

                    <input  fxFlex class="course_title" type="text" [(ngModel)]='course.skill' placeholder="Select an interpersonal skill..">
                    <button mat-button dnd-sortable-handle><mat-icon>open_with</mat-icon></button>
                    <button mat-button (click)="delete(id)"><mat-icon>delete_forever</mat-icon></button>
                </div>

                <div class="course-content" fxLayout='column' fxLayoutGap='10px'>
                    <mat-expansion-panel class="expansion-area" [expanded]="course.expanded" hideToggle="true">
                        <div fxLayout='row wrap' fxLayoutGap='10px'>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign="start stretch">
                                <div class="static">Qualities</div>
                                <div fxLayout fxLayoutGap='10px'>
                                    <div fxFlex='48'>
                                        <input #input
                                            class="value"
                                            placeholder="Type to add"
                                            (keyup)="app_add(input.value, $event, id)">
                                    </div>
                                    <div fxFlex='48' fxLayout='column' fxLayoutAlign="start stretch">
                                        <div class="value" *ngFor="let quality of course.qualities; let i = index">
                                            {{quality}}
                                            <button class="widget-state" mat-button (click)='app_delete(id, i)'>
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </div>
                                        <div class="value widget-state">{{course.qualities.length}} items</div>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign="start stretch">
                                <div class="static">Description</div>
                                <textarea class="value" [(ngModel)]='course["description"]' placeholder="Describe">
                                </textarea>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>

            </li>
        </ul>
    </div>
</section>
