<section class="container">
    <div>
      <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
        <p><strong>INTERPERSONAL SKILLS</strong></p>
        <button mat-button (click)="edit_is()"><mat-icon>create</mat-icon></button>
      </div>
      <div class="page-content" *ngIf='is_datas'>
        <div *ngFor='let data of is_datas; let id=index' class="skill">
          <div>
            <button mat-button class="btn-expand"
              [ngClass]='data.expanded ? "expand" : ""'
              (click)='data.expanded = !data.expanded'>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            {{data.skill}}
          </div>
          <mat-expansion-panel class="expansion-area" [expanded]="data.expanded" hideToggle="true">
            <div class="tags" fxLayout fxLayoutGap='10px'>
              <div class="tag" *ngFor='let quality of data.qualities'>{{quality}}</div>
            </div>
            <p>{{data.description}}</p>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
    <div>
      <div class="page-header" fxLayout fxLayoutAlign='space-between start' fxLayoutGap='20px'>
        <p><strong>PROFESSIONAL SKILLS</strong></p>
        <button mat-button (click)="edit_ps()"><mat-icon>create</mat-icon></button>
      </div>
      <div class="page-content" *ngIf='ps_datas'>
        <div *ngFor="let data of ps_datas" class="skill">
          <div>{{data.skill}}</div>
          <kendo-slider
              [showButtons]='false'
              [min]="0"
              [max]="10"
              [smallStep]="1"
              [tickPlacement]='false'
              [fixedTickWidth]="50"
              [(ngModel)]='data.level'>
          </kendo-slider>
        </div>
      </div>
    </div>
</section>
