.btn-expand{
    border-radius: 50%;
    cursor: pointer;
    mat-icon{
        transition: 0.5s;
    }
    &.expand mat-icon{
        transform: rotateZ(90deg);
    }
    margin-right: 20px;
}

.expansion-area{
    box-shadow: none !important;
}

.skill{
  margin-bottom: 20px;
  >div{
    margin-bottom: 10px;
  }
}

.tags {
  margin-bottom: 20px;
  padding-left: 45px;
  .tag{
    padding: 5px 10px;
    background: #3c4da7;
    color: #fff;
    border-radius: 3rem;
  }
}
