button {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
    background-color: #fff;
    border: solid 0.125rem #333;
    padding: 0.4rem;
    &:focus {
        outline: none;
    }
    mat-icon {
        margin: auto;
    }
}